body, html {
  height: 100%;
  font-family: Montserrat ;
}
/* cover backgroundb */
.bg{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("images/cover1.png");
background-position: bottom right;
background-repeat: no-repeat;
background-size:cover ;
height: 100% ;


}
.navbar{
  background-color: #151419  ;
}

.cover-heading {
  color: white ;
  font-family: Ubuntu ;
  font-size: 4.5rem ;
  font-weight: 900 ;
  line-height: 1.5;
  position: absolute;
  left: 100px ;
  top : 270px ;

}

/* Menue styling */
.menue-bg{
  background-color: #F9F9F9 ;
}

.menue-heading {
  padding: 3% 0 ;
  text-align: center;
  font-weight: 400;
  font-size: 3rem ;

}

.menue-links{
  font-weight: 400;
  font-size: 1.5rem ;

}

/* location styling */
.location-heading {
  padding: 3% 0 ;
  text-align: center;
  font-weight: 400;
  font-size: 3rem ;

}


.carousel-inner img {
    width:auto;
    height: 31.25rem;

  }
/*contacts */
.contact-heading{
  padding: 3% 0 ;
  text-align: center;
  font-weight: 400;
  font-size: 3rem ;

}

.card-text a:hover {
  color: blue;
  text-decoration: none;
}
.card-text a {
  color: black ;
}


.form {
  text-align: center; ;
  padding: 3% 0 ;
}

/*footer*/
.social-icon {
  margin: 15px 10px;
}
.white-section {
  background-color: #F9F9F9;
  text-align: center ;
  padding-top: 2% ;
}




@media (max-width: 540px)  {
  .carousel-inner img {
      width:29.25rem;
      height: 31.25rem;

    }

    .cover-heading {
      color: white ;
      font-family: Ubuntu ;
      font-size: 3rem ;
      font-weight: 900 ;
      line-height: 1.5;
      position: absolute;
      left: 90px ;
      top : 50px ;
    text-align: center;
    }

      .card-title{
        font-size: 1rem ;

      }
      .card-text{
        font-size: .8rem ;
      }
}
