@charset "utf-8";
body, html {
  height: 100%;
  font-family: Montserrat ;
}
/* cover backgroundb */
.bg{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("images/cover1.png");
background-position: bottom right;
background-repeat: no-repeat;
background-size:cover ;
height: 100% ;


}
.navbar{
  background-color: #151419  ;
}

.cover-heading {
  color: white ;
  font-family: Ubuntu ;
  font-size: 4.5rem ;
  font-weight: 900 ;
  line-height: 1.5;
  position: flex;
  padding : 6.25% 2% 0 ; 

}

